@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', 'Sans-Serif';
  font-weight: 100;
}

.navbar-active {
  color: #3ab5ad;
}
